@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>خوش آمدید @ViewData["username"]</h3>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">کاربران</div>
            <div class="card-body">
                <p>مدیریت کاربران</p>
                <a href = "@Url.Action("Index", "User", new { area = "Admin" })" class="btn btn-primary">برو به</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">خدمات</div>
            <div class="card-body">
                <p>مدیریت خدمات</p>
                <a href = "@Url.Action("Index","Service", new { area = "Admin" })" class="btn btn-primary">برو به</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">دسته بندی های اصلی </div>
            <div class="card-body">
                <p>مدیریت دسته بندی ها</p>
                <a href="@Url.Action("Index", "Category", new { area = "Admin" })" class="btn btn-primary">برو به</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">دسته بندی های فرعی</div>
            <div class="card-body">
                <p>مدیریت دسته بندی ها</p>
                <a href="@Url.Action("Index", "SubCategory", new { area = "Admin" })" class="btn btn-primary">برو به</a>
            </div>
        </div>
    </div>
</div>
