@using App.Domain.Core.Enums;
@using FrameWork;
@model App.Domain.Core.Entities.User.AppUser;


@{
    ViewData["Title"] = "Client Profile";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<h2>مشخصات پروفایل</h2>

<div class="card">
    <div class="card-header text-center">
        @if (!string.IsNullOrEmpty(Model.ProfilePicture))
        {
            <img src="@Model.ProfilePicture" alt="Profile Picture" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;" />
        }
        else if (Model.Gender == Gender.male)
        {
            <img src="~/Uploads/maleProfilePicture.jpg" alt="Profile Picture" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;" />
        }
        else
        {
            <img src="~/Uploads/femaleProfilePicture.png" alt="Profile Picture" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;" />
        }
        <h3>@Model.FullName</h3>
    </div>
    <div class="card-body">
        <p><strong>ایمیل: </strong> @Model.Email</p>
        <p><strong>شماره تماس: </strong> @Model.PhoneNumber</p>
        <p><strong>نام کاربری: </strong> @Model.UserName</p>
        <p><strong>تاریخ ثبت نام: </strong> @Model.DateRegistered.ToPersianString("MMMM dd, yyyy")</p>
        <p><strong>موجودی حساب: </strong> @Model.AccountBalance</p>
    </div>
</div>

<a asp-action="Index" class="btn btn-secondary">بازگشت</a>
<a asp-action="EditProfile" class="btn btn-primary">ویرایش پروفایل</a>
