@model List<App.Domain.Core.Entities.Services.Service>

@{
    ViewData["Title"] = "خدمات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>خدمات</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">ایجاد خدمات جدید</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>عنوان</th>
            <th>توضیحات</th>
            <th>قیمت</th>
            <th>دسته بندی</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Title</td>
                <td>@service.Description</td>
                <td>@service.Price</td>
                <td>@service.Subcategory.Title</td>
                <td>
                    <a asp-action = "Edit" asp-route-id = "@service.Id"  class="btn btn-warning"> ویرایش </a>
                    <a asp-action = "Details" asp-route-id = "@service.Id" class="btn btn-info"> مشاهده جزییات </a>
                    <a asp-action = "Delete" asp-route-id = "@service.Id" class="btn btn-danger" onclick="return confirm('مطمینید میخواهید ادامه دهید؟')"> حذف </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" asp-controller = "Dashboard" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> بازگشت
</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
