@*﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="~/css/rtl.css">
    <link rel="stylesheet" href="~/css/site.css">
    @RenderSection("Scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">پنل ادمین</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "" })">خانه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout", "Account", new { area = "" })">خروج</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Account", new { area = "Admin" })">
                                Manage Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Service", new { area = "Admin" })">
                                Manage Services
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Category", new { area = "Admin" })">
                                Manage Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Order", new { area = "Admin" })">
                                Manage Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Proposal", new { area = "Admin" })">
                                Manage Proposals
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Comment", new { area = "Admin" })">
                                Manage Comments
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>*@


@*New Layout*@

@*<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

   
    <link rel="stylesheet" href="~/css/rtl.css">
    <link rel="stylesheet" href="~/css/site.css">
    
    @RenderSection("Scripts", required: false)

    <!-- Custom fonts for this template-->
    <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">پنل ادمین</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="~/Admin/index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>داشبورد</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="~/Admin/buttons.html">Buttons</a>
                        <a class="collapse-item" href="~/Admin/cards.html">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="~/Admin/utilities-color.html">Colors</a>
                        <a class="collapse-item" href="~/Admin/utilities-border.html">Borders</a>
                        <a class="collapse-item" href="~/Admin/utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="~/Admin/utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="~/Admin/login.html">Login</a>
                        <a class="collapse-item" href="~/Admin/register.html">Register</a>
                        <a class="collapse-item" href="~/Admin/forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="~/Admin/404.html">404 Page</a>
                        <a class="collapse-item" href="~/Admin/blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="~/Admin/charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="~/Admin/tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="~/Admin/img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                @RenderBody()
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="~/Admin/login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Admin/js/demo/chart-area-demo.js"></script>
    <script src="~/Admin/js/demo/chart-pie-demo.js"></script>

</body>

</html>*@

<!DOCTYPE html>
<html lang="fa" dir="rtl" class="rtl">

<!-- Mirrored from demo.rayanik.com/modiran/light/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 Jan 2025 13:56:28 GMT -->
<head>
    <title>قالب مدیریتی مدیران</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="قالب مدیریت ایرانی مدیران ">
    <meta name="keywords" content="قالب مدیریت, قالب داشبورد, قالب ادمین, قالب مدیران, قالب مدیریت راستچین , قالب ایرانی مدیریت, پوسته مدیریت, قالب ادمین داشبورد سایت, قالب مدیریتی, مدیران, قالب مدیریت مدیران, پنل مدیریت, پنل مدیریت مدرن, قالب ادمین متریال, قالب مدیریت بوت استرپ, قالب ادمین بوتسترپ, قالب ادمین سایت, پوسته مدیریتی ایرانی, قالب مدیرتی مدیران ایرانی, بهترین قالب مدیریت, قالب مدیریت ریسپانسیو, قالب مدیریت ارزان, قالب admin">
    <meta name="fontiran.com:license" content="NE29X">
    <link rel="shortcut icon" href="~/AdminTemplate/images/favicon.png">

    <!-- BEGIN CSS -->
    <link href="~/AdminTemplate/assets/plugins/bootstrap/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/plugins/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/plugins/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/plugins/paper-ripple/dist/paper-ripple.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/plugins/iCheck/skins/square/_all.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/css/style.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/css/colors.css" rel="stylesheet">
    <!-- END CSS -->
    <!-- BEGIN PAGE CSS -->
    <link href="~/AdminTemplate/assets/plugins/morris.js/morris.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/plugins/persian-datepicker/css/persian-datepicker.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/css/effects.css" rel="stylesheet">

    <link href="~/AdminTemplate/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">

    <!-- END PAGE CSS -->
</head>
<body class="active-ripple theme-darkpurple fix-header sidebar-extra bg-1">


    @await Html.PartialAsync("_Header")

    <!-- BEGIN WRAPPER -->

    <div id="wrapper">

        <!-- BEGIN SIDEBAR -->
        @await Html.PartialAsync("_Sidebar")
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE CONTENT -->
        <div id="page-content">
            <div id="inner-content">
                <div class="row">
                    <!-- BEGIN BREADCRUMB -->
                    <div class="col-md-12">
                        <div class="breadcrumb-box shadow">
                            <ul class="breadcrumb">
                                <li><a href="#">@ViewData["Title"]</a></li>
                            </ul>
                            <div class="breadcrumb-left">
                                
                                <i class="icon-calendar"></i>
                            </div><!-- /.breadcrumb-left -->
                        </div><!-- /.breadcrumb-box -->
                    </div><!-- /.col-md-12 -->
                    <!-- END BREADCRUMB -->

                    <div class="col-md-12">
                        <div class="row">
                            <div class="row">
                                @RenderBody()

                            </div>

                        </div><!-- /.row -->

                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /#inner-content -->
        </div><!-- /#page-content -->
        <!-- END PAGE CONTENT -->

    </div><!-- /#wrapper -->
    <!-- END WRAPPER -->
    @await Html.PartialAsync("_Footer")
    <!-- BEGIN SETTING -->
    @await Html.PartialAsync("_Setting")

    <!-- END SETTING -->
    <!-- BEGIN JS -->
    <script src="~/AdminTemplate/assets/plugins/jquery/dist/jquery-3.6.1.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/bootstrap/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/paper-ripple/dist/PaperRipple.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/screenfull/dist/screenfull.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/iCheck/icheck.min.js"></script>
    <script src="~/AdminTemplate/assets/plugins/switchery/dist/switchery.js"></script>
    <script src="~/AdminTemplate/assets/js/core.js"></script>

    

    <!-- BEGIN PAGE JAVASCRIPT -->
    <!-- END PAGE JAVASCRIPT -->
    @await RenderSectionAsync("Scripts", required: false)
    <!-- BEGIN PAGE JAVASCRIPT -->
    <!-- END PAGE JAVASCRIPT -->
</body>

</html>

<style>
    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }

    a {
        color: rgb(82, 85, 87);
    }

    .btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
    }

</style>