@model List<App.Domain.Core.Entities.Services.Category>

@{
    ViewData["Title"] = "دسته بندی اصلی";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>دسته بندی ها</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">ایجاد دسته بندی جدید</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>عنوان </th>
            <th>عکس </th>
            <th>عملیات </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Title</td>
                <td><img src="@category.Image" alt="Category Image" class="img-fluid" style="max-width:100px; height:100px;"/></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">ویرایش</a>
                    <a asp-action="Details" asp-route-id="@category.Id" class="btn btn-info">مشاهده جزییات</a>
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger" onclick="return confirm('مطمینید میخواهید ادامه دهید؟')"> حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" asp-controller="Dashboard" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> بازگشت
</a>

@*<script src="~/AdminTemplate/js/jquery.min.js"></script>
<script src="~/AdminTemplate/js/bootstrap.bundle.min.js"></script>
<script src="~/AdminTemplate/js/jquery.easing.min.js"></script>
<script src="~/AdminTemplate/js/sb-admin-2.min.js"></script>
*@

@section Scripts {

    <partial name = "_ValidationScriptsPartial" />
}