@using App.Domain.Core.Enums;
@model List<App.Domain.Core.Entities.User.Client>

@{
    ViewData["Title"] = "Client Management";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>مشتریان</h2>

<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>پروفایل</th>
            <th>نام و نام خانوادگی</th>
            <th>شماره تماس</th>
            <th>جنسیت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                @if (string.IsNullOrEmpty(client.AppUser.ProfilePicture))
                {
                    @if (client.Gender == Gender.male)
                    {
                        <td><img style="border-radius : 50%" src="~/Uploads/maleProfilePicture.jpg" width="80" height="80" /></td>
                    }
                    else
                    {
                        <td><img style="border-radius : 50%" src="~/Uploads/femaleProfilePicture.png" width="80" height="80" /></td>
                    }
                }
                else
                {
                    <td><img style="border-radius : 50%" src="@client.AppUser.ProfilePicture" width="80" height="80" /></td>
                }
                <td>@client.FullName</td>
                <td>@client.PhoneNumber</td>
                <td>@(client.Gender == Gender.male ? "مرد" : "زن")</td>
                <td>
                    <a asp-action="EditClient" asp-route-id="@client.Id" class="btn btn-warning">ویرایش</a>
                    <a asp-action="ClientDetails" asp-route-id = "@client.Id" class="btn btn-info">مشاهده جزییات</a>
                    <a onclick="return confirm('آیا از حذف این کاربر اطمینان دارید؟')" asp-action="DeleteClient" asp-route-Id="@client.Id" class="btn btn-danger"> حذف </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action = "CreateClient" class="btn btn-primary">ایجاد مشتری جدید</a>
<a asp-action = "Index" class="btn btn-secondary">بازگشت</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}