@model App.Domain.Core.Entities.User.Expert

@{
    ViewData["Title"] = "Expert Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>مشسخصات کارشناس</h2>

<div class="card">
    <div class="card-header">
        <h3>@Model.FullName</h3>
    </div>
    <div class="card-body">
        <p><strong>ایمیل: </strong> @Model.AppUser.Email</p>
        <p><strong>شماره تماس: </strong> @Model.PhoneNumber</p>
        <p><strong>نام کاربری: </strong> @Model.AppUser.UserName</p>
        <p><strong>تاریخ ثبت نام: </strong> @Model.AppUser.DateRegistered.ToString("MMMM dd, yyyy")</p>
    </div>
</div>

<a asp-action="Clients" class="btn btn-secondary">بازگشت</a>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}