@using App.Domain.Core.Enums;
@model List<App.Domain.Core.Entities.User.Expert>

@{
    ViewData["Title"] = "Expert Management";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>مدیریت کارشناسان</h2>

<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>پروفایل</th>
            <th>نام و نام خانوادگی</th>
            <th>شماره تماس</th>
            <th>جنسیت</th>
            <th>وضعیت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expert in Model)
        {
            <tr>
                @if (string.IsNullOrEmpty(expert.AppUser.ProfilePicture))
                {
                    @if (expert.Gender == Gender.male)
                    {
                        <td><img style="border-radius : 50%" src="~/Uploads/maleProfilePicture.jpg" width="80" height="80" /></td>
                    }
                    else
                    {
                        <td><img style="border-radius : 50%" src="~/Uploads/femaleProfilePicture.png" width="80" height="80" /></td>
                    }
                }
                else
                {
                    <td><img style="border-radius : 50%" src="@expert.AppUser.ProfilePicture" width="80" height="80" /></td>
                }
                <td>@expert.FullName</td>
                <td>@expert.PhoneNumber</td>
                <td>@(expert.Gender == Gender.male ? "مرد" : "زن")</td>
                <td>@(expert.IsApproved ? "تایید شده" : "در انتظار تایید")</td>
                <td>
                    @if (!expert.IsApproved)
                    {
                        <a asp-action="Approve" asp-route-id="@expert.Id" class="btn btn-success">تایید</a>
                        @*<a asp-action="ApproveOrRejectExpert" asp-route-id="@expert.Id" class="btn btn-danger">رد</a>*@
                    }
                    <a asp-action = "EditExpert" asp-route-id = "@expert.Id" class="btn btn-warning"> ویرایش </a>
                    <a asp-action = "ExpertDetails" asp-route-id = "@expert.Id" class="btn btn-info">مشاهده جزییات</a>
                    <a onclick="return confirm('آیا از حذف این کاربر اطمینان دارید؟')" asp-action="DeleteExpert" asp-route-Id="@expert.Id" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action = "CreateExpert" class = "btn btn-primary"> ایجاد کارشناس جدید </a>
<a asp-action = "Index" class = "btn btn-secondary" > بازگشت </a>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}