@model List<App.Domain.Core.Entities.Services.SubCategory>

@{
    ViewData["Title"] = "دسته بندی های فرعی";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>دسته بندی های فرعی</h2>
<table class="table">
    <tr>
        <th>عنوان</th>
        <th>دسته بندی اصلی</th>
        <th>عکس</th>
        <th>عملیات </th>
    </tr>
    @foreach (var subCat in Model)
    {
        <tr>
            <td>@subCat.Title</td>
            <td>@subCat.Category?.Title</td>
            <td><img src="@subCat.ImagePath" alt="Category Image" class="img-fluid" style="max-width:100px; height:100px;" /></td>
            <td>
                <a asp-action="Edit" asp-route-id="@subCat.Id" class="btn btn-warning">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@subCat.Id" class="btn btn-info">مشاهده جزییات</a> |
                <a asp-action="Delete" asp-route-id="@subCat.Id" class="btn btn-warning" onclick="return confirm('مطمینید میخواهید ادامه دهید؟')"> حذف</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create" class="btn btn-primary">ایجاد دسته بندی جدید</a>
<a asp-action="Index" asp-controller="Dashboard" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> بازگشت
</a>