@using App.Domain.Core.Enums;
@using FrameWork;
@model List<App.Domain.Core.Entities.Services.ServiceRequest>


@{
    ViewData["Title"] = "Service Requests";
    Layout = "_Layout";
}

@if (TempData["Message"] != null)
{
    <div class="btn btn-info">
        @TempData["Message"]
    </div>
}

<div class="container">
    <h2>سفارشات من</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>عنوان</th>
                <th>توضیحات</th>
                <th>وضعیت</th>
                <th>اقدام</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.Title</td>
                    <td>@request.Description</td>
                    <td>@request.Status.ToFarsiStatus()</td>
                    <td>
                        @if (request.Status == StatusEnum.AwaitingOffers)
                        {
                            <a asp-controller = "ServiceOffering" asp-action = "OfferingsForRequest" asp-route-id = "@request.Id" class="btn btn-primary btn-sm">بررسی پیشنهادات</a>
                            <span class="text-muted mx-1">تایید</span>
                            <span class="text-muted mx-1">اتمام کار</span>
                            <span class="text-muted mx-1">پرداخت</span>
                            <span class="text-muted mx-1">لغو</span>
                        }
                        else if (request.Status == StatusEnum.PendingClientConfirmation)
                        {
                            <span class = "text-muted mx-1">بررسی پیشنهادات</span>
                            <a asp-controller = "ServiceRequest" asp-action = "Confirm" asp-route-id = "@request.Id" class="btn btn-primary btn-sm">تایید</a>
                            <span class="text-muted mx-1">اتمام کار</span>
                            <span class="text-muted mx-1">پرداخت</span>
                            <span class="text-muted mx-1">لغو</span>
                        }
                        else if (request.Status == StatusEnum.PendingProviderConfirmation)
                        {
                            <span class="text-muted mx-1">بررسی پیشنهادات</span>
                            <span class="text-muted mx-1">تایید</span>
                            <span class="text-muted mx-1">اتمام کار</span>
                            <span class="text-muted mx-1">پرداخت</span>
                            <span class="text-muted mx-1">لغو</span>
                        }
                        else if (request.Status == StatusEnum.InProgress)
                        {
                            <span class="text-muted mx-1">بررسی پیشنهادات</span>
                            <span class="text-muted mx-1">تایید</span>
                            <a asp-controller = "ServiceRequests" asp-action = "MarkAsDone" asp-route-id="@request.Id" class="btn btn-primary btn-sm">اتمام کار</a>
                            <span class="text-muted mx-1">پرداخت</span>
                            <span class="text-muted mx-1">لغو</span>
                        }
                        else if (request.Status == StatusEnum.AwaitingPayment)
                        {
                            <span class="text-muted mx-1">بررسی پیشنهادات</span>
                            <span class="text-muted mx-1">تایید</span>
                            <span class="text-muted mx-1">اتمام کار</span>
                            <a asp-controller = "ServiceOffering" asp-action="Pay" class="btn btn-success btn-sm">پرداخت</a>
                            <span class="text-muted mx-1">لغو</span>
                        }
                        else if (request.Status == StatusEnum.Completed || request.Status == StatusEnum.Paid || request.Status == StatusEnum.Cancelled)
                        {
                            <span class="text-muted mx-1">بررسی پیشنهادات</span>
                            <span class="text-muted mx-1">تایید</span>
                            <span class="text-muted mx-1">اتمام کار</span>
                            <span class="text-muted mx-1">پرداخت</span>
                            <span class="text-muted mx-1">لغو</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>